<div id="app">
    Hasil : {{ hasil }}<br>
    <input v-model="angka1" type="number">
    <input v-model="angka2" type="number"><br>

    <button @click="hasil=angka1+angka2">+</button>
    <button @click="hasil=angka1-angka2">-</button>
    <button @click="hasil=angka1*angka2">*</button>
    <button @click="hasil=angka1/angka2">/</button>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const app = Vue.createApp({
        data(){
            return{
                angka1: 0,
                angka2: 0,
                hasil: 0,
            }
        }
    })
    app.mount('#app')
</script>
